skript vygeneruje dva súbory:  
`zoznam_piesni.html` (obyčajný zoznam piesní)  
a `zoznam_piesni_large.html` (zoznam piesní aj s textami -pre fulltextové vyhľadávanie)

In [42]:
import pandas as pd
from bs4 import BeautifulSoup

# obsah piesní:

In [43]:
df = pd.read_csv('texty.csv', index_col=0)
df

       strofa                                               text
cislo
1           1  Ó, prekrásna Hviezda ranná, - ktorá si nám z n...
1           2  Božieho tys' výkvet diela, - k tebe poslal Gab...
1           3  Počneš Syna premilého, - Bohom Otcom nám danéh...
1           4  Ako dcéra Stvoriteľa - Matkou budeš Spasiteľa ...
1           5  Trojici buď svätej sláva, - Márii česť nech sa...
...       ...                                                ...
526         2  Teba oslavuje - slávny zbor apoštolov; - teba ...
526         3  Kriste, ty si kráľ slávy. - Ty si Otcov Syn od...
526         4  Preto ťa prosíme, - pomáhaj svojim služobníkom...
526         5  Pripočítaj nás k svojim svätým - vo večnej slá...
526         6  Po všetky dni - dobrorečíme tebe. - A chválime...

[1842 rows x 2 columns]

In [44]:
df=df.reset_index()
df

     cislo  strofa                                               text
0        1       1  Ó, prekrásna Hviezda ranná, - ktorá si nám z n...
1        1       2  Božieho tys' výkvet diela, - k tebe poslal Gab...
2        1       3  Počneš Syna premilého, - Bohom Otcom nám danéh...
3        1       4  Ako dcéra Stvoriteľa - Matkou budeš Spasiteľa ...
4        1       5  Trojici buď svätej sláva, - Márii česť nech sa...
...    ...     ...                                                ...
1837   526       2  Teba oslavuje - slávny zbor apoštolov; - teba ...
1838   526       3  Kriste, ty si kráľ slávy. - Ty si Otcov Syn od...
1839   526       4  Preto ťa prosíme, - pomáhaj svojim služobníkom...
1840   526       5  Pripočítaj nás k svojim svätým - vo večnej slá...
1841   526       6  Po všetky dni - dobrorečíme tebe. - A chválime...

[1842 rows x 3 columns]

In [45]:
df.info() # pozor, cislo je string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1842 entries, 0 to 1841
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cislo   1842 non-null   object
 1   strofa  1842 non-null   int64
 2   text    1842 non-null   object
dtypes: int64(1), object(2)
memory usage: 43.3+ KB

In [46]:
df.groupby(['cislo']).groups # pozor, cislo je string, a sort je True (by default)

{'1': [0, 1, 2, 3, 4], '10': [52, 53, 54, 55, 56, 57, 58], '100': [537, 538, 539, 540, 541, 542], '101': [543, 544, 545, 546], '102': [547, 548, 549, 550, 551, 552], '103': [553, 554, 555, 556, 557], '104': [558, 559, 560], '105': [561, 562, 563], '106': [564, 565, 566, 567, 568], '107': [569, 570, 571, 572, 573, 574, 575, 576, 577, 578], '108': [579, 580, 581, 582], '109': [583, 584, 585, 586, 587], '11': [59, 60, 61, 62, 63, 64], '110': [588, 589, 590, 591, 592], '111': [593, 594, 595], '112': [596, 597, 598, 599, 600, 601], '113': [602, 603, 604, 605, 606], '114': [607, 608, 609, 610, 611], '115': [612, 613, 614, 615, 616, 617], '116': [618, 619, 620, 621, 622], '117': [623, 624, 625, 626, 627, 628], '118': [629, 630, 631, 632, 633, 634, 635], '119': [636, 637, 638, 639, 640, 641], '12': [65, 66, 67, 68, 69, 70, 71], '120': [642, 643, 644, 645, 646], '121': [647, 648, 649, 650], '122': [651, 652, 653, 654, 655, 656], '123': [657, 658, 659, 660, 661, 662], '124': [663, 664, 665, 666, 667], '125': [668, 669, 670, 671, 672], '126': [673, 674, 675, 676, 677], '127': [678, 679, 680, 681, 682, 683, 684], '128': [685, 686, 687, 688, 689, 690], '129': [691, 692, 693, 694, 695, 696, 697, 698], '13': [72, 73, 74, 75, 76, 77, 78, 79], '130': [699, 700, 701, 702, 703, 704], '131': [705, 706, 707, 708, 709, 710, 711], '132': [712, 713, 714, 715], '133': [716, 717, 718, 719, 720, 721, 722, 723], '134': [724, 725, 726, 727, 728, 729], '135': [730, 731, 732], '136': [733, 734, 735, 736], '137': [737, 738, 739, 740], '138': [741, 742, 743, 744], '139': [745, 746, 747, 748, 749], '14': [80, 81, 82, 83, 84, 85, 86, 87, 88], '140': [750, 751, 752, 753, 754, 755, 756], '141': [757, 758, 759, 760], '142': [761, 762, 763, 764, 765], '143': [766, 767, 768], '144': [769, 770, 771, 772, 773], '145': [774, 775, 776, 777, 778, 779, 780, 781], '146': [782, 783, 784, 785, 786], '147': [787, 788, 789, 790], '148': [791, 792, 793, 794, 795, 796], '149': [797, 798, 799, 800, 801, 802], '15': [89, 90, 91, 92, 93], '150': [803, 804, 805, 806, 807, 808, 809, 810, 811, 812], '151': [813, 814, 815, 816, 817, 818], '152': [819, 820, 821, 822, 823, 824, 825, 826], '153': [827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837], '154': [838, 839, 840, 841, 842], '155': [843, 844, 845, 846, 847, 848, 849, 850], '156': [851, 852, 853, 854], '157': [855, 856, 857, 858, 859], '158': [860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873], '159': [874, 875, 876, 877], '16': [94, 95, 96, 97, 98, 99, 100], '160': [878, 879, 880, 881, 882], '161': [883, 884, 885, 886], '162': [887, 888, 889, 890, 891, 892], '163': [893, 894, 895, 896], '164': [897, 898, 899, 900], '165': [901, 902, 903, 904, 905, 906, 907], '166': [908, 909, 910], '167': [911, 912, 913, 914, 915, 916, 917, 918], '168': [919, 920, 921, 922, 923], '169': [924, 925, 926, 927, 928, 929, 930, 931, 932], '17': [101, 102, 103, 104, 105, 106, 107], '170': [933, 934, 935, 936, 937], '171': [938, 939, 940, 941, 942], '172': [943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958], '173': [959, 960, 961, 962, 963, 964], '174': [965, 966, 967, 968], '175': [969, 970, 971, 972, 973, 974, 975], '176': [976, 977, 978, 979, 980, 981, 982, 983], '177': [984, 985, 986, 987, 988, 989, 990], '178': [991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005], '179': [1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021], '18': [108, 109, 110, 111, 112, 113, 114, 115], '180': [1022, 1023, 1024, 1025, 1026], '181': [1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042], '182': [1043], '183': [1044, 1045, 1046, 1047, 1048, 1049, 1050], '184': [1051, 1052, 1053, 1054, 1055, 1056], '185': [1057, 1058, 1059, 1060, 1061, 1062], '186': [1063, 1064, 1065, 1066, 1067, 1068, 1069], '187': [1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079], '188': [1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091], '189': [1092, 1093, 1094], ...}

In [47]:
# pozor, cislo je string, sort musí byť False!
df_grouped = df.groupby(['cislo'], sort=False)[['strofa','text']].apply(lambda x:x)
df_grouped

            strofa                                               text
cislo
1     0          1  Ó, prekrásna Hviezda ranná, - ktorá si nám z n...
      1          2  Božieho tys' výkvet diela, - k tebe poslal Gab...
      2          3  Počneš Syna premilého, - Bohom Otcom nám danéh...
      3          4  Ako dcéra Stvoriteľa - Matkou budeš Spasiteľa ...
      4          5  Trojici buď svätej sláva, - Márii česť nech sa...
...            ...                                                ...
526   1837       2  Teba oslavuje - slávny zbor apoštolov; - teba ...
      1838       3  Kriste, ty si kráľ slávy. - Ty si Otcov Syn od...
      1839       4  Preto ťa prosíme, - pomáhaj svojim služobníkom...
      1840       5  Pripočítaj nás k svojim svätým - vo večnej slá...
      1841       6  Po všetky dni - dobrorečíme tebe. - A chválime...

[1842 rows x 2 columns]

In [48]:
# pozor, cislo je string, sort musí byť False!
gg = df.groupby(['cislo'], sort=False)[['strofa','text']]
gg

In [49]:
# for number, song in gg:    
#     print(type(number), type(song))
#     print(number)

# názvy:

In [50]:
df2 = pd.read_csv('nazvy.csv', index_col=0)
df2

                            názov
číslo
1      Ó, prekrásna Hviezda ranná
2                      Anjel Pána
3                    Anjel z neba
4                   Bože, ku tebe
5          Buď, Mária, pozdravená
...                           ...
501          Ježiš, Mária i Jozef
507    Bože, ktorý stav manželský
523     V sedmobrežnom kruhu Ríma
524              Bože, čos’ ráčil
526          Teba, Bože, chválime

[336 rows x 1 columns]

In [51]:
df2=df2.reset_index()
df2

    číslo                       názov
0       1  Ó, prekrásna Hviezda ranná
1       2                  Anjel Pána
2       3                Anjel z neba
3       4               Bože, ku tebe
4       5      Buď, Mária, pozdravená
..    ...                         ...
331   501        Ježiš, Mária i Jozef
332   507  Bože, ktorý stav manželský
333   523   V sedmobrežnom kruhu Ríma
334   524            Bože, čos’ ráčil
335   526        Teba, Bože, chválime

[336 rows x 2 columns]

In [52]:
df2.columns=['cislo','nazov']
df2

    cislo                       nazov
0       1  Ó, prekrásna Hviezda ranná
1       2                  Anjel Pána
2       3                Anjel z neba
3       4               Bože, ku tebe
4       5      Buď, Mária, pozdravená
..    ...                         ...
331   501        Ježiš, Mária i Jozef
332   507  Bože, ktorý stav manželský
333   523   V sedmobrežnom kruhu Ríma
334   524            Bože, čos’ ráčil
335   526        Teba, Bože, chválime

[336 rows x 2 columns]

In [53]:
len(list(df2.itertuples()))

336

In [54]:
len(gg)

336

In [55]:
bag = zip(df2.itertuples(),gg, strict=True) # strict=True raises error if one of the arrays is longer than the other.

In [56]:
my_string = ''
iba_zoznam = ''
for nazvy, g in bag:

    iba_zoznam += f'\n<div><a href="res/{nazvy.cislo}.html">{nazvy.cislo}. {nazvy.nazov}</a></div>\n'    

    my_string += f'\n<div class="song" onclick="mf({nazvy.cislo})">' # div song
    my_string += f'\n<div class="nazov">{nazvy.cislo}. {nazvy.nazov}</div>\n'
    
    my_string += '<div class="text">' # div text
    for row in g[1].itertuples():
        # rr = row[2].replace(' - ', '\n') 

        rr=row.text.replace(' - ',' ')

        line = '<p>'+rr+'</p>\n'

        my_string += line
    my_string += '</div>\n' # div text
    my_string += '</div>\n' # div song

In [57]:
print(iba_zoznam[:500]) # ilustračný výpis

<div><a href="res/1.html">1. Ó, prekrásna Hviezda ranná</a></div>

<div><a href="res/2.html">2. Anjel Pána</a></div>

<div><a href="res/3.html">3. Anjel z neba</a></div>

<div><a href="res/4.html">4. Bože, ku tebe</a></div>

<div><a href="res/5.html">5. Buď, Mária, pozdravená</a></div>

<div><a href="res/6.html">6. Dennica už vyšla</a></div>

<div><a href="res/7.html">7. Dnes Panna je pozdravená</a></div>

<div><a href="res/8.html">8. Duša moja celou silou</a></div>

<div><a href="res/9.html">9

In [58]:
print(my_string[:700]) # ilustračný výpis

<div class="song" onclick="mf(1)">
<div class="nazov">1. Ó, prekrásna Hviezda ranná</div>
<div class="text"><p>Ó, prekrásna Hviezda ranná, ktorá si nám z neba daná, vrúcne, Panna, buď vítaná!</p>
<p>Božieho tys' výkvet diela, k tebe poslal Gabriela sám Boh, svojho archanjela.</p>
<p>Počneš Syna premilého, Bohom Otcom nám daného, Spasiteľa čakaného.</p>
<p>Ako dcéra Stvoriteľa Matkou budeš Spasiteľa a Nevestou Tešiteľa.</p>
<p>Trojici buď svätej sláva, Márii česť nech sa vzdáva, že sa Božou Matkou stáva.</p>
</div>
</div>

<div class="song" onclick="mf(2)">
<div class="nazov">2. Anjel Pána</div>
<div class="text"><p>Anjel Pána zvestoval Panne Márii a ona počala z Ducha Svätého, Zdravas', Már

In [59]:
# bs4 by sa zrejme dal vynechať, lebo robíme len so stringmi, ale už to nechávam tak ako je:
zoznam = BeautifulSoup(f'<div id="zoznam">{iba_zoznam}</div>','html.parser')
zoznam_fulltext = BeautifulSoup(f'<div id="zoznam_fulltext">{my_string}</div>','html.parser')

In [60]:
with open('zoznam_piesni.html', mode='w', encoding='utf-8') as f_out:
        f_out.write(str(zoznam))

In [61]:
with open('zoznam_piesni_large.html', mode='w', encoding='utf-8') as f_out:
        f_out.write(str(zoznam_fulltext))

In [68]:
# done